.forrmcontacto{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 500px;
    left:100px;
    color: $colorletra;
    border: 3px solid grey;
    margin: 30px !important;
    justify-content: space-around;
    position:relative;
    @media (max-width: 640px) and (max-width:781px){
        left:0px;
        width: 450px;
        height: 800px;
    }
    }
.forrmcontacto > div{
      width: 320px !important;
    }

.btn {
    width: 200px;
    bottom: 10px;
    position: absolute !important;
    &:hover{
        background-color: palevioletred;
        color: white;
        transition: background-color 1s ease-out;
    }
}