h1, h2{
    @include fontstyle();
    color: $colorletra;
    margin: 20px 0px 10px;
    padding: 5px;
    @media (max-width: 640px){
      text-align: start;
      margin: 20px 0px 10px;
    }
}
h1{
    font-size: 40px;
    @media (max-width: 768px){
         margin: 0;
        padding: 0;
    }
}
h2{
    font-size: 32px;
    @media screen and (max-width: 768px){
        text-align: left;
        padding: 1rem;
   }
}

h3, p{
    color:grey;
}
p{
    @media (max-width: 768px){
       width: 70%;
       text-align:center;
   }
}
h3, h4{
    text-align: center;
    @media (max-width: 640px){
        text-align: start;
        font-size: 18px;
    }
}