.card{
    margin: 10px !important;
    padding-left: 10px !important;
    align-items: center;
    gap: 5px !important;
    @media  (max-width: 954px){
        padding-left: 0px;
        align-items: start;
        margin: 0px;
        width: 85%;
        height: 85%;
        gap: 0px;
    }
    @media (max-width: 768px){
        display: flex;
        flex-direction: column;
    }
}

.card > iframe{
    @media  (max-width: 954px){
        padding-left: 0px;
        width: 85%;
        height: 85%;
    }
    @media (max-width: 768px){
        padding-left: 0px;
        width: 85%;
        height: 85%;
    }
}
